# First Assignment

In our next R assignment, you'll encounter sections marked with ??? These serve as prompts for you to apply what you've learned by replacing them with the appropriate R code. It's an opportunity to demonstrate your understanding and challenge yourself. Remember, every coder starts somewhere, so don't be discouraged if it seems tough initially. Utilize course materials and R documentation for assistance. I'm here to support you throughout this assignment.

Additionally, as part of the assignment, you'll work with the `mpg` dataset from the tidyverse package. This dataset contains fuel economy data for various cars. To load it into your R environment, simply use the following command:

In [1]:
library(???)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [1]:
### Check this dataset

???

[1] ""

## Task 1: Summary

Begin by providing a summary of the mpg dataset. Use the ??? function to generate descriptive statistics for the variables in the dataset. This will help you get an overview of the data at hand.

In [ ]:
???

## Task 2: View First 10 Rows

Next, take a closer look at the first 10 rows of the dataset. Use the ??? function to display the first few rows. This will give you a glimpse into the structure and contents of the dataset.

In [4]:
???(???, ???)

  manufacturer model displ year cyl trans    drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5) f   18  29  p  compact

## Task 3: Calculate Fuel Efficiency in Kilometers per Liter (km/l)


Use the mutate() function to create a new column named km_per_l in the mpg dataset. Calculate the fuel efficiency in kilometers per liter (km/l) using the formula:

Fuel efficiency (km/l) = (City fuel efficiency * 1.60934) / (Highway fuel efficiency * 0.425144)

In [2]:
mpg <- ??? %>%
  ??(km_per_l = (?? * 1.60934) / (hwy * ???))

ERROR: Error in parse(text = x, srcfile = src): <text>:1:12: unexpected SPECIAL
1: mpg <- ??? %>%
               ^

## Task 4: Data Visualization

Now it's time to visualize some aspects of the data. Create a scatter plot using the ggplot2 package to visualize the relationship between `Engine Displacement (L)` and `Highway Fuel Efficiency (mpg)`. Add appropriate labels and a title to your plot to ensure clarity.

In [ ]:
ggplot(data = mpg, aes(x = ???, y = ???)) +
  geom_point() +
  labs(x = "???", y = "???", title = "???")