# Mastering Data Manipulation in R: A Comprehensive Guide from Base R to Tidyverse


Data manipulation is a crucial aspect of data science, allowing you to clean, transform, and prepare data for analysis. In R, data manipulation can be approached through various packages, with the most common being R Base and tidyverse (particularly dplyr). Here, we'll delve into examples of common data manipulation tasks using both approache
s

In [2]:
# Load the tidyverse package, a collection of R packages for data science
library(tidyverse)

# Load the nycflights13 package, which includes the flights dataset
library(nycflights13)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## R Base Approach

R Base functions are part of the standard R environment, requiring no additional packages for basic data manipulation tasks. Here's how you can perform common tasks with R Base:

This code filters the `flights` dataset for flights on January 1st using the `subset` function, combining conditions with the `&` operator. It demonstrates conditional filtering and how to preview the filtered data with `head(subset_flights)`, showing the importance of data manipulation and exploration.

In [7]:
# Filtering for flights on January 1st
subset_flights <- subset(flights, month == 1 & day == 1)

This code renames the column 'year' to 'flight_year' in the flights dataset

In [ ]:
# Renaming 'year' to 'flight_year'
names(flights)[names(flights) == "year"] <- "flight_year"


This code adds a new column gain to the flights dataset to calculate the minutes gained by subtracting the actual departure time from the scheduled departure time

In [ ]:
# Adding a new column 'gain' to indicate minutes gained (scheduled dep - actual dep)
flights$gain <- flights$sched_dep_time - flights$dep_time

This code selects only the columns `flight_year`, `month`, `day`, and `gain` from the `flights` dataset and stores the result in `selected_flights`. It shows how to subset data by columns, essential for focusing analysis on relevant variables.

In [ ]:
# Selecting only year, month, day, and gain
selected_flights <- flights[c("flight_year", "month", "day", "gain")]

This code calculates the average departure delay for each carrier in the `flights` dataset using the `aggregate` function. It demonstrates grouping data by a specific variable (`carrier`) and applying a function (`mean`) to each group, while also handling missing values (`na.rm = TRUE`). This is key for summarizing data to identify patterns or differences among groups.

In [ ]:
# Calculating average departure delay by carrier using aggregate
avg_delay_by_carrier_base <- aggregate(dep_delay ~ carrier, data = flights, FUN = mean, na.rm = TRUE)

This code calculates the mean of the first 5 numeric columns for each row in the `flights` dataset using the `apply` function. It illustrates the use of `apply` to perform row-wise operations (`1` specifies rows) and how to handle missing values with `na.rm = TRUE`, teaching efficient data summarization techniques.

In [ ]:
# Calculate the mean of the first 5 numeric columns across all rows
apply(flights[, 1:5], 1, mean, na.rm = TRUE)

## Tidyverse/dplyr Approach

The tidyverse, particularly the dplyr package, offers a more intuitive syntax for data manipulation through a set of functions that work seamlessly with data frames and tibbles.


This code uses the dplyr package's filter function to select flights from the flights dataset that occurred on January 1s

In [5]:
# Filtering for flights on January 1st
filtered_flights <- flights %>% filter(month == 1, day == 1)

The %>% symbol is known as the pipe operator.
It is a key feature of the tidyverse, introduced by the magrittr package and widely used in dplyr and other tidyverse packages.
The pipe operator allows you to pass the result of one expression as the first argument to the next expression, facilitating a readable and intuitive workflow.
It enables chaining of functions in a way that is easier to read and write compared to nesting function calls

In [ ]:
# Renaming 'year' to 'flight_year'
renamed_flights <- flights %>% rename(flight_year = year)

In [ ]:
# Adding a new column 'gain'
flights <- flights %>% mutate(gain = sched_dep_time - dep_time)

In [ ]:
# Selecting specific columns
selected_flights <- flights %>% select(flight_year, month, day, gain)

This code calculates the average departure delay by carrier in the `flights` dataset using `dplyr` functions. It demonstrates chaining operations with the `%>%` operator, grouping data by `carrier` with `group_by`, and then calculating the mean departure delay for each group using `summarize`. The `na.rm = TRUE` argument excludes missing values from the calculation. This method is crucial for analyzing and understanding the performance of different carriers, providing insights into delays. The `print` function is used to display the results, emphasizing the importance of presenting summarized data for analysis or reporting.

In [3]:
# Calculating average departure delay by carrier
avg_delay_by_carrier <- flights %>%
  group_by(carrier) %>%
  summarize(avg_dep_delay = mean(dep_delay, na.rm = TRUE))

print(avg_delay_by_carrier)

# A tibble: 16 × 2
   carrier avg_dep_delay
   <chr>           <dbl>
 1 9E              16.7
 2 AA               8.59
 3 AS               5.80
 4 B6              13.0
 5 DL               9.26
 6 EV              20.0
 7 F9              20.2
 8 FL              18.7
 9 HA               4.90
10 MQ              10.6
11 OO              12.6
12 UA              12.1
13 US               3.78
14 VX              12.9
15 WN              17.7
16 YV              19.0